@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
      @apply rounded bg-neutral-900 px-4 py-2 font-bold text-slate-200;
    }
    .btn:hover {
      @apply bg-neutral-950;
    }
  }

body{
    font-family: 'Fira Mono', monospace;}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}